* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 60%;
  margin: 10rem auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.background {
  background-color: rgb(247, 245, 245);
}

.title {
  margin: 0;
  padding: 1rem 2rem 0;
}

/* Table Styles */
.grid-table {
  padding: 1rem;
  padding-top: 0;
  display: grid;
  grid-template-columns: 0.5fr 5fr 0.5fr 0.5fr 0.5fr;
  text-align: center;
  line-height: 2rem;
}

.grid-table > * {
  padding: 0.5rem;
}

.grid-table div:nth-child(n + 6) {
  background-color: white;
  margin-bottom: 0.5rem;
  box-shadow: 0px 2px 0px 0px rgb(233, 233, 233);
}

.grid-table .item-drag {
  border-radius: 1rem 0 0 1rem;
}

.grid-table .item-edit {
  border-radius: 0 1rem 1rem 0;
}

.grid-table .item-title {
  text-align: left;
}

/* Toggle Button Styles */
.toggle {
  appearance: none;
  width: 3rem;
  height: 1.5rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  width: 1rem;
  height: 1rem;
  background: #fff;
  left: 5px;
  top: 4px;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #f36805;
}

.toggle:checked:before {
  left: 1.5rem;
}

.item-active {
  display: flex;
  justify-content: center;
  align-items: center;
}
